body {
    width: 960px;
    max-width: 100%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

img {
    max-width: 100%;
}

ul {
    color: #222E50;
    list-style: none;
    padding: 0; 
    margin: 0;
}

.link-feat {
    padding-left: 50px;
}

h2 {
   border: solid 1px #222E50;
   border-radius: 10px;
   padding-left: 15px;
   color: #B3679B;
   background-color: #EFEFEF;
}

a:link {
    color: #B3679B;
}

.sub-feat {
    width: 33%;
    border: solid 1px #222E50;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.title {
    font-weight: bold;
}