body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
}
h2 {
    color: blue;
    border-bottom: solid 1px #929ca4;
}

div p::first-letter {
    font-size: 30px;
}
.features {
    color: #cc1c0d;
}