body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
}
h2 {
    color: blue;
    border-bottom: solid 1px #929ca4;
}

.intro p::first-letter {
    font-size: 30px;
}
.features {
    color: #cc1c0d;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin: 50px;
}
a {
    color: pink;
    text-decoration: solid;
}

a:hover {
    color: teal;
    text-decoration: line-through;
}

.list-none {
    list-style: none;
}

li:first-of-type {
    color: blue;
}

li:last-of-type {
    color: red;
}